{
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "env": {
    "development": {
      "presets": [
        ["env", {
          "targets": { "ie": 11 },
          "useBuiltIns": "usage"
        }],
        "flow",
        "react"
      ]
    },
    "module": {
      "presets": [
        ["env", {
          "useBuiltIns": "usage",
          "modules": false
        }],
        "flow",
        "react"
      ]
    },
  }
}
